:root.theme-light {
  --header-footer-title-color: #ffc2e6;
  --theme-color: #353430;
  --accent-color: #ff8dcb;
  --theme-color-opacity: rgba(50, 49, 45, 0.4); 
  --accent-text-color: #353430;
  --bg-url: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --article-text-color: #353430;
}

.theme-light .page {
  .decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --header-footer-title-color: #ffc2e6;
    --theme-color: #353430;
    --accent-color: #ff8dcb;
    --theme-color-opacity: rgba(50, 49, 45, 0.4); 
    --accent-text-color: #353430;
    --bg-url: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --article-text-color: #353430;
  }

  .decor {
    display: none;
  }
}