:root {
  --header-footer-title-color: #db00ff;
  --theme-color: #ff0070;
  --accent-color: #ff0070;
  --theme-color-opacity: rgba(255, 0, 112, 0.4);
  --accent-text-color: #000028;
  --bg-url: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --article-text-color: #f1b2ce;
}