/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --bg-url: url(../images/cover-image-dark.png);
  --article-text-color: #f1b2ce;
}